*{
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;

}
.members{
    font-family: 'Oswald', sans-serif;
    color: rgb(38, 56, 76);
    font-weight: bold;
    display: flex;
    font-size: clamp(1.8rem, 5vw, 4rem);
    justify-content: center;
    
}
.image{
    width: 100%;
    position: relative;
    text-align: center;
}
.m-img{
    width: clamp(5rem, 35vw, 17rem);
    display: flex;
    
    
    
}
.image__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.50);
    color: white;
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.image__overlay:hover{
    opacity: 1;
}
.image__title{
    font-size: 1.5rem;
    font-weight: bold;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.m-art{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 1rem;
    
    
    
   
    
}


.video-art{
    text-align: center;
    margin-top: 10rem;
}
.n-video{
    font-family: 'Oswald', sans-serif;
    color: rgb(38, 56, 76);
    font-weight: bold;
    display: flex;
    font-size: clamp(1.8rem, 5vw, 4rem);
    justify-content: center;
}
iframe{
    width: clamp(280px, 80vw, 560px);
    height: clamp(158px, 34vh, 315px )
}
@media screen and (min-width: 1000px){
.m-art{
grid-template-columns: 1fr 1fr 1Fr;
}}
@media screen and (min-width: 1450px){
    .m-art{
        display: flex;
    }
}