body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, white, rgb(118, 118, 118));
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Oswald', sans-serif;
    
}
body.active{
    margin: 0; height: 100%; overflow: hidden;
}
